$color1: #9FB5BC;
$color2: #4D616E;
$color3: #000000;
$color4: #87898B;
$color5: #D4D4D4;

* {
	box-sizing: border-box;
    font-size: 0;
}

html {
    background: url(https://www.shureasia.com/dmsfiles/default/shure/products/headphones/images/srh840/SRH840_1-e0e559455bc43efe7a74d09782bbc76e.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


//HOME VIEW

.homeView {

    input {
        font-size: 36px;
        background: transparent;
        border: none;
        width: 50%;

    }

    input:focus {
        outline: none;
    }
}
